In [58]:
import pandas as pd

In [59]:
headers = ["pclass","survived","sex","age"]
df_raw = pd.read_csv("EX02-173TITANIC.csv", header=None, names=headers, na_values="?" )
x = ["female","male"]
df = df_raw[df_raw.sex.isin(x)].copy()
pd.crosstab(df.survived, df.sex, margins=True, margins_name="Total")

sex       female  male  Total
survived
0            127   682    809
1            339   161    500
Total        466   843   1309